<div class="toolbar" role="banner">
  <span class="button">Angular change detection tester</span>
  <div class="spacer"></div>
  <div class="button" (click)="toggleRecordingStatus()">{{recordingStatus ? 'Stop Recording' : 'Start Recording' }}</div>
</div>
<div class="container">
  <div class="content" role="main">
    <app-lifecycle-dashboard [node]="highlightedNodesDetails"></app-lifecycle-dashboard>
    <app-components-graph [nodes]="nodes" [edges]="edges"></app-components-graph>
  </div>
  <div class="panel">
    <app-main-panel></app-main-panel>
  </div>
</div>

